language: elixir

elixir:
  - "1.7"

otp_release:
  - "19.0"
  - "20.0"
  - "21.0"

script:
  - "MIX_ENV=test mix coveralls.json --include external:true"

after_success:
  - bash <(curl -s https://codecov.io/bash)
